
.header-navbar{
    overflow: hidden;
    width: 100%;
    height: 4rem;
    height: fit-content;
/*     display: flex; */
    justify-content: space-between;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

}
.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.green {
    color: green;
}
.red {
    color: red;
}

.container-box {
    max-width: 100vw; 
    overflow: auto;
    box-sizing: border-box;
    
    white-space: nowrap;
    text-overflow: hidden;
}
