{% load ecatcher %}
<p>
    Exception count: {{ list_reports.count }}
</p>
<ul>
{% for report in list_reports %}
    <li>
        {{ report.date_time }} -
        <a href="{% url 'except_catcher:view_error' report.id %}">
            {{ report.subject }}
        </a>
        -
        <a href="{% url 'except_catcher:mark_resolved' report.id %}">
            {{ report|is_solved  }}
        </a>
        -
        <a href="{% url 'except_catcher:delete_error' report.id %}">
            delete
        </a>
    </li>
{% endfor %}
</ul>
